@model Core.ViewModels.FoodViewModel
@{
    ViewData["Title"] = "AddFood";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="container p-2" style="margin-top:150px">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-dark">Manage Food</h2>
        </div>
        <div class="col-6 text-end">
            <a data-toggle="modal" data-target="#modals" class="btn btn-lg btn-danger text-center ml-auto text-white" style="width:35%;border-radius:90px;height:55px;float: right">Add Food</a>
        </div>
    </div>



    
    <br />


    <div class="container-fluid">
         <div class="row">
              <div class="col-12">
                @if (Model.FoodList != null && Model.FoodList.Count() > 0)
                {
                    <table class="table table-bordered table-striped  table-condensed table-hover">
                        <thead class="bg-danger text-white">
                            <tr>
                                <th class="text-center" scope="col">Name</th>
                                <th class="text-center" scope="col">Image</th>
                                <th class="text-center" scope="col">Price</th>
                                <th class="text-center" scope="col">Description</th>
                            </tr>
                        </thead>

                        <tbody>
                            @foreach (var food in Model.FoodList)
                            {
                                <tr class="text-dark text-center">
                                    <td>@food.Name</td>
                                    <td><img alt="" style="width:150px;height:100px" src="@food.Image" /></td>
                                    <td>@food.Price</td>
                                    <td>@food.Description</td>
                                </tr>
                                
                            }
                        </tbody>
                    </table>
                }
                else
                {
                    <p>No Record Exits</p>
                }

            </div>
        </div>
    </div>

</div>
<div class="modal" id="modals">
    <div class="modal-dialog modal-dialog-centered vh-30" style="max-width:40%">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header p-3 bg-danger">
                <h4 class="modal-title align-items-center  text-bold text-white" style="margin-left:230px">Add Food</h4>
                <button type="button" class="close text-dark" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div class="modal-body">
                    <section class="signUp py-0">
                        <form method="post" asp-action="ManageFood" asp-controller="Admin" enctype="multipart/form-data">
                            @if (TempData["Message"] != null)
                            {

                                var tempDatamessage = (FoodBar.Models.Message)TempData["Message"];
                                <partial name="_Message" model="tempDatamessage" />
                            }
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <h2 class="mb-2 mt-3  w-100 text-center text-danger " style="font-weight: bold;font-family: monserrat;font-size: 30px;margin-right:70px">Mama Ezinne Food</h2>

                            <div class="form-group mb-1 mr-0 row " style="display:flex;margin-right:60px">
                                <label for="name" class="col-sm-12 col-form-label text-bold text-dark" style="font-weight:bold;">FoodName</label>
                                <div class="col-sm-12">
                                    <input class="form-control" type="text" name="name" asp-for="Name">
                                    <span asp-validation-for="Name" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group mb-1 mr-0 row " style="display:flex;margin-right:60px">
                                <label asp-for="Image" class="col-sm-12 col-form-label text-bold text-dark" style="font-weight:bold;">Image</label>
                                <div class="col-sm-12 custom-file">
                                    <input class="form-control " asp-for="ImageUrl" style="width:100%" type="file" multiple />
                                    <span asp-validation-for="Image" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group mb-1 mr-0 row " style="display:flex;margin-right:60px">
                                <label for="price" class="col-sm-12 col-form-label text-bold text-dark" style="font-weight:bold;">Price</label>
                                <div class="col-sm-12">
                                    <input class="form-control" type="number" name="price" asp-for="Price">
                                    <span asp-validation-for="Price" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group mb-1 mr-0 row " style="display:flex;margin-right:60px">
                                <label for="message" class="col-sm-12 col-form-label text-bold text-dark" style="font-weight:bold;">Description</label>
                                <div class="col-sm-12">
                                    <textarea class="form-control" asp-for="Description" id="message" rows="5" cols="23"></textarea>
                                    <span asp-validation-for="Description" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="mb-1  mt-2 text-center">
                                <input type="submit" value="Submit" class="btn btn-danger text-bold" style="border-radius:90px;background-color: red; height: 3em; width: 50%; color: whitesmoke;margin-left:40px" />
                            </div>
                        </form>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .modal-backdrop {
        z-index: 1040 !important; /* Set the desired z-index value */
        background-color: rgba(0, 0, 0, 0.5) !important; /* Set the desired background color */
    }
</style>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
