@model IEnumerable<Core.Models.Order>
@{
    ViewData["Title"] = "IndexList";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}



<div  class="container p-3" style="margin-top:100px">
    <div class="row pt-4">
        <div class="col-7">
            <h2 class="text-danger text-bold">OrderDetails</h2>
        </div>
    </div>

    <div class="container table-responsive" style="margin-top:10px">
        <div class="row">
            <div class="col-12" width="200%">
                @if (Model.Count() > 0)
                {
                    <table id="itemTable" class="table table-bordered table-striped  table-condensed table-hover" width="200%">
                        <thead class="bg-danger text-white">
                            <tr>
                                <th class="text-center" scope="col">FoodName</th>
                                <th class="text-center" scope="col">Amount</th>
                                <th class="text-center" scope="col">ReferenceNumber</th>
                                <th class="text-center" scope="col">DateCreated</th>
                            </tr>
                        </thead>

                        <tbody class="bg-muted">
                            @foreach (var item in Model)
                            {

                                <tr class="text-dark text-center">
                                    <td id="foodId" hidden></td>
                                    <td id="foodId">@item.OrderDetails</td>
                                    <td id="amount">@item.Amount</td>
                                    <td id="referenceNumber">@item.ReferenceNumber</td>
                                    <td id="datecreated">@item.DateCreated.ToString("d")</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
                else
                {
                    <p>No Order Exits</p>
                }

               </div>
          </div>
      </div>
</div>




<style>
    .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8);
        min-width:450px;
        margin: auto;
        text-align: center;
        font-family: monserrat;
        margin-top: 30px;
        border-radius: 5rem;
        border: 1px solid red;
    }



</style>

