@using Core.Enums;
@model IEnumerable<Core.Models.Payment>
@{
    ViewData["Title"] = "IndexList";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

<script>
    function GetOrderPartialView(id) {
        $.ajax({
            type: 'GET',
            url: '/Order/PreviewOrder/' + id,
            data: {},
            success: function (data) {
                $("#preview").html(data);

                $("#preview_Modal").modal('show');
            }
        });
    };
</script>

<style>
    body {
        font-family: 'Manrope', sans-serif;
        background: #eee;
    }

    table {
        counter-reset: row-counter;
    }

    tr > td:first-child:before {
        counter-increment: row-counter;
        content: counter(row-counter);
    }

</style>


<div class="container-fluid" style="margin-top:110px">

    <h2 class="text-center text-danger">All Orders</h2>
    <div class="col-lg-12">
                @if (Model.Count() > 0 && Model != null)
                {
                <table id="myTable" class="table display table-responsive table-bordered table-condensed table-striped table-hover">
                        <thead>
                            <tr>
                                <th class="text-center" scope="col" style="font-size:23px">S/N</th>
                                <th class="text-center" scope="col" style="font-size:23px">DateOrdered</th>
                                <th class="text-center" scope="col" style="font-size:23px">RefNumber</th>
                                <th class="text-center" scope="col" style="font-size:23px">OrderStatus</th>
                                <th class="text-center" scope="col" style="font-size:23px">ViewOrder</th>
                                <th class="text-center" scope="col" style="font-size:23px">Receipt</th>
                            </tr>
                        </thead>

                        <tbody class="bg-muted">
                            @foreach (var item in Model)
                            {

                                <tr class="text-dark text-center">
                                    <td style="font-size:20px" width="5%"></td>
                                    <td width="10%" style="font-size:20px" id="foodId">@item.DatePaid.ToShortDateString()</td>
                                    <td width="25%" style="font-size:20px" id="amount">@item?.Orders?.ReferenceNumber</td>
                                    <td width="15%" style="font-size:20px" id="referenceNumber">@item?.status</td>
                                    <td width="25%" style="font-size:20px" id="datecreated"><a class="btn btn-lg btn-primary text-white" onclick="GetOrderPartialView(@item?.Id)">Orders</a></td>
                                    <td width="25%" style="font-size:20px" id="status">
                                    @if (item?.status == PaymentStatus.Seen)
                                    {
                                    <a  class="btn btn-lg btn-primary" disabled>Re-upload Proof</a>
                                    
                                    }
                                    else
                                    {
                                    <a onclick="ShowEvidenceModal('@item?.Orders?.Id','@item?.Id')" class="btn btn-lg btn-primary">Re-upload Proof</a>
                                    }
                                </tr>
                            }
                        </tbody>
                    </table>
                }
                else
                {
                    <p>No Order Exits</p>
                }

               </div>
      
    <div class="modal" id="preview_Modal">
        <div class="modal-dialog modal-xl modal-dialog-centered vh-30">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header bg-danger">
                    <h1 class="mt-3 text-center text-dark" style="margin-left:40%">OrderDetails</h1>
                    <button type="button" class="close text-dark" data-bs-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body" id="preview">
                </div>
            </div>
        </div>
    </div>

    <!-- The Modal -->
    <div class="modal" id="evidenceModal">
        <div class="modal-dialog p-3 mt-5" style="max-width:45%">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header p-3 bg-danger">
                    <h4 class="modal-title align-items-center  text-bold text-white" style="margin-left:210px"> Upload Evidence of Payment</h4>
                    <button type="button" class="close text-dark" data-bs-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <div class="modal-body">
                        <div class="form-group">
                            <input class="form-control " id="evidenceId" type="file" />
                            <a class="btn btn-lg btn-info mt-4" style="margin-left:280px" id="uploadBtn" onclick="GetUploadedEvidence()">Submit</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
  </div>










<script>
    $('#myTable').DataTable();

</script>



