@model Core.Models.Payment


<div class="col-12">
    <div class="card-body mt-2" style="font-size:25px">
        <h3 id="payId" hidden></h3>
        <div class="row">
            <div class="col-md-6 text-left">
                <h3>Email: @Model?.Orders?.User?.Email</h3>
            </div>
            <div class="col-md-6 text-end">
                <h3>OrderRef: @Model?.Orders?.ReferenceNumber</h3>
            </div>
            <div class="col-md-6 text-left mt-2">
                <h3>DatePaid: @Model?.DatePaid.ToShortDateString()</h3>
            </div>
            <div class="col-md-6 text-end mt-2">
                <h3>PaymentStatus: @Model?.status</h3>
            </div>
        </div>
        <table class="table mt-4 table-striped table-condensed table-striped table-bordered">
            <thead>
                <tr>
                    <th width="5%">S/N</th>
                    <th width="40%">Food</th>
                    <th width="10%">Qty</th>
                    <th width="20%">U-Price</th>
                    <th width="25%">Total</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Orders.OrderObject)
                {
                    <tr>
                        <td></td>
                        <td class="text-left">@item?.Foods?.Name</td>
                        <td>@item?.Quantity</td>
                        <td>@item?.UnitPrice</td>
                        <td>@item?.total</td>
                    </tr>
                }
            </tbody>
        </table>
        <h3 class="text-end">GrandTotal:₦ @Model.Orders.Amount </h3>
    </div>
</div>


<style>
    .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8);
        max-width: 55%;
        font-family: monserrat;
        border: 1px solid red;
        margin-left: 20%
    }

    table {
        counter-reset: row-counter;
    }

    tr > td:first-child:before {
        counter-increment: row-counter;
        content: counter(row-counter);
    }
</style>



